@media only screen and (max-width:1260px){
    .mid-nav-boxes h1{
        font-size: 40px;
    }
    .gb-left-box p{
        font-size: 14px;
    }
    nav{
        display: none;
    }
}
@media only screen and (max-width:1024px){
    .gb-boxes{
        width: 100%;
    }
    .gb-left-box{
        padding: 0;
    }
    .gb-left-box p{
        padding: 0 20px;
    }
}
@media only screen and (max-width : 880px){
    .topBoxes{
        width: 50%!important;
    }
    .mid-nav-boxes h1{
        font-size: 35px;
    }
}
@media only screen and (max-width : 768px)
{
    .top-nav-boxes-1{
        display: none;
    }
    .top-nav-boxes-2{
        width: 80%;
    }
    .mid-nav-boxes h1{
        font-size: 25px;
    }
}
@media only screen and (max-width : 650px){
    .gb-left-box p{
        padding: 0 10px;
    }
}
@media only screen and (max-width : 550px){
    .topBoxes{
        width: 100%!important;
    }
    .top-nav-boxes-2 p{
        font-size: 14px;
    }
    .top-nav-boxes-3 select{
        font-size: 14px!important;
    }
   
    .topMarginBoxes-2{
        flex-direction: column;
    }
    .mid-nav-boxes-3{
        display: none;
    }
    .mid-nav-boxes-1{
        display: block;
        width: 25%;
        cursor: pointer;
    }
    .mid-nav-boxes-2{
        width: 75%;
        text-align: right;
    }
    .gb-right-box, .gb-left-box{
        width: 100%;
    }
    .gb-left-box{
        padding: 50px 0;
    }
}
@media only screen and (max-width : 480px){
    .top-nav-margin{
        width: 80%;
    }
    .top-nav-boxes-2 p{
        font-size: 12px;
    }
    .top-nav-boxes-3 select{
        font-size: 12px!important;
    }
}
